# Introducing Built-in Functions

In [1]:
print("Hello Arpit, How are you?")

Hello Arpit, How are you?

In [3]:
print(2345) #Converts to string before printing

2345

**Printing multiple messages and sperating message by separator**

In [4]:
print("Hello Arpit","How are you?",sep="\n")

Hello Arpit
How are you?

In [5]:
print("Hello Arpit","How are you?",sep="|")

Hello Arpit|How are you?

In [6]:
print("Hello Arpit","How are you?",end="**") #Printed out after all the messages are printed.

Hello Arpit How are you?**

**Len - Allows you to find length of any sequence**. Works with sequence in python known as iterables. Only works with string

In [7]:
len('abc')

3

**min** - Allows to find mininum of a sequence of elements that you pass in.

In [8]:
min(1,3,2.4,5,3,6.54,85,-5)

-5

**max** - Returns the maximum value

In [9]:
max(1,5,1,23,51752.55,17,1,5,15,2,-54,2,-155)

51752.55

**abs** - Finds absolute number that you pass in.

In [10]:
abs(65)

65

In [11]:
abs(-100)

100

**round** - Rounds up to closest integer.

In [12]:
round(3.14)

3

In [13]:
round(100.8)

101

In [14]:
round(-15.769)

-16

**sorted** - Returns a list of sorted character. Sorts upper case character before lower case character.

In [15]:
sorted("hello") #Returns hello in lexicon, graphical order within square brackets (List)

['e', 'h', 'l', 'l', 'o']

In [16]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

In [17]:
sorted("hello", reverse=True) #Reverse

['o', 'l', 'l', 'h', 'e']

# String Functions, Return Values, and Nested Function Invocations

In [18]:
string_var = "HELLO ARPIT, HOW ARE YOU?"

In [21]:
string_var.lower()

'hello arpit, how are you?'

In [22]:
lowercase_var = string_var.lower()

In [23]:
lowercase_var == string_var.lower()

True

In [25]:
capitalized_string = lowercase_var.capitalize() #Capitalized first character in a string
capitalized_string

'Hello arpit, how are you?'

# Introducing Lists
List are just ordered sequences and elements not need to be unique.

In [26]:
empty_list = []

In [27]:
type(empty_list)

list

In [28]:
int_list = [1,2,3,4,5]
int_list

[1, 2, 3, 4, 5]

In [30]:
mixed_list = ['a','b',5, True, 2.3]
mixed_list

['a', 'b', 5, True, 2.3]

In [31]:
airbus_planes = ['Airbus A380','Airbus A350']#Order is important

In [33]:
airbus_planes[0]

'Airbus A380'

In [34]:
len(airbus_planes)

2

In [35]:
sorted(airbus_planes) #Sorts in alphabetical order

['Airbus A350', 'Airbus A380']

In [37]:
last_index = len(airbus_planes) - 1#Last index is the length of the index minus 1
airbus_planes[last_index]

'Airbus A350'

In [38]:
airbus_planes[-1]#minus simple starts from the end of the list

'Airbus A350'

# List Slicing Operations and List Functions

In [39]:
boeing_planes = ['Boeing 707','Boeing 717','Boeing 727','Boeing 737']

In [42]:
boeing_planes[0:3]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [43]:
boeing_planes[2:4]

['Boeing 727', 'Boeing 737']

In [44]:
boeing_planes[0:-1]

['Boeing 707', 'Boeing 717', 'Boeing 727']

In [46]:
boeing_planes.append('Boeing 747')#Add element to the end of the list
boeing_planes

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737',
 'Boeing 747',
 'Boeing 747']

In [47]:
boeing_planes.insert(4,"Boeing 737 CLassic")#Add element to intermediate position in list
boeing_planes

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737',
 'Boeing 737 CLassic',
 'Boeing 747',
 'Boeing 747']

In [48]:
boeing_planes.index("Boeing 707")#Lookup for the index of a particular element in the list

0

In [53]:
fighter_jets = ['Hurricane','Tiger Moth']
fighter_jets

['Hurricane', 'Tiger Moth']

In [54]:
fighter_jets.remove('Hurricane') #Remove elements from the list
fighter_jets

['Tiger Moth']

In [55]:
last_jet= fighter_jets.pop()#Remove last element in list
last_jet

'Tiger Moth'

In [56]:
fighter_jets = ["Hurricane","Tiger Moth","F-14","F-16","Tiger Moth"]
fighter_jets

['Hurricane', 'Tiger Moth', 'F-14', 'F-16', 'Tiger Moth']

**sort**: Sort function update the list itself so that the elements are now sorted in a lexical graphical order.

In [57]:
fighter_jets.sort()
fighter_jets

['F-14', 'F-16', 'Hurricane', 'Tiger Moth', 'Tiger Moth']

In [58]:
fighter_jets.reverse()
fighter_jets

['Tiger Moth', 'Tiger Moth', 'Hurricane', 'F-16', 'F-14']

# Concatenating and Copying Lists

In [59]:
all_planes = airbus_planes + boeing_planes + fighter_jets
all_planes

['Airbus A380',
 'Airbus A350',
 'Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737',
 'Boeing 737 CLassic',
 'Boeing 747',
 'Boeing 747',
 'Tiger Moth',
 'Tiger Moth',
 'Hurricane',
 'F-16',
 'F-14']

**clear** : Empty out the list

In [60]:
airbus_planes.clear()
airbus_planes

[]

**copy** : Known as deep copy. Copy remains even when the original list has disappeared.

In [61]:
boeing_planes_copy = boeing_planes.copy()
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 727',
 'Boeing 737',
 'Boeing 737 CLassic',
 'Boeing 747',
 'Boeing 747']

**Free Memory** : Free up the memory associated with the original list, the copy still remains.

In [62]:
del boeing_planes

In [63]:
boeing_planes

NameError: name 'boeing_planes' is not defined

Shallow copy: Under the hood both variable refer to the same list.

In [64]:
boeing_planes_shallow_copy=boeing_planes_copy

In [65]:
boeing_planes_copy.remove("Boeing 727")

In [66]:
boeing_planes_shallow_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737',
 'Boeing 737 CLassic',
 'Boeing 747',
 'Boeing 747']

In [67]:
boeing_planes_copy

['Boeing 707',
 'Boeing 717',
 'Boeing 737',
 'Boeing 737 CLassic',
 'Boeing 747',
 'Boeing 747']

# Introducing Tuples
Contains order sequence of elements just like list. Tuples are immutable.

In [68]:
empty_tuple = ()

In [69]:
print(empty_tuple)

()

In [70]:
type(empty_tuple)

tuple

In [71]:
character_tuple = tuple("bedsheet")#Generating tuple from a string
character_tuple

('b', 'e', 'd', 's', 'h', 'e', 'e', 't')

In [73]:
fruit_list = ['apple','banana','orange','watermelon']
fruits_tuple = tuple(fruit_list)
fruits_tuple

('apple', 'banana', 'orange', 'watermelon')

find the presence of an element or field in a list or tuple respectively

In [74]:
"apple" in fruits_tuple

True

# Introducing Dictionaries
Store key-value pairs.They are lookup tables. It does not have inherit order like list and tuple have.

In [75]:
names_and_ages = { "Suzie":6, "Calvin":5, "Hobbes":4}

In [78]:
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 4}

In [79]:
names_and_ages["Calvin"]#Lookup

5

**Get all keys**

In [80]:
names_and_ages.keys()

dict_keys(['Suzie', 'Calvin', 'Hobbes'])

**Get all values**

In [81]:
names_and_ages.values()

dict_values([6, 5, 4])

**Key-Value Pairs**

In [82]:
names_and_ages.items()

dict_items([('Suzie', 6), ('Calvin', 5), ('Hobbes', 4)])

**Adding new item**

In [83]:
names_and_ages["Rowley"] = 15
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 4, 'Rowley': 15}

Updating the value of an item

In [84]:
names_and_ages["Hobbes"] = 25
names_and_ages

{'Suzie': 6, 'Calvin': 5, 'Hobbes': 25, 'Rowley': 15}

Deleting items

In [85]:
names_and_ages.pop("Calvin")
names_and_ages

{'Suzie': 6, 'Hobbes': 25, 'Rowley': 15}

In [86]:
del names_and_ages["Rowley"]
names_and_ages

{'Suzie': 6, 'Hobbes': 25}